.tipPadDiv {
  width: 100%;
}

.tipPadHeader {
  height: 24px;
  color: #5e7a7d;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 16px;
}

.tipsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 14px;
}

.inputDiv,
.inputWrapper {
  height: fit-content;
}

@media (max-width: 480px) {
  .tipsContainer {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}
