.totalDiv {
  width: 333px;
  height: 71px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.mainHeading {
  color: #ffffff;
  font-weight: bold;
}

.subHeading {
  color: #7f9d9f;
  font-weight: bold;
  font-size: 13px;
}

.amountDiv {
  color: #26c2ae;
  font-size: 3em;
  font-weight: bold;
}

@media (max-width: 980px) {
  .totalDiv {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .totalDiv {
    width: max(100%, 281px);
  }

  .amountDiv {
    font-size: 32px;
  }
}
